extends layout

block content
  #blog-index.header
    .wrap
      h1= file.title
      .content!= file.prepared
  #blog-index.primary
    - var cats = {}
    - for (var i = 0; i < files.blog.length; i++)
      - var post = files.blog[i]
      - if (!post.category) post.category = 'Undefined'
      - if (!cats[post.category]) cats[post.category] = []
      - cats[post.category].push(post)
    - for (var cat in cats)
      - var posts = cats[cat]
      section.category
        .wrap
          article.summary.intro
            .wrap
              .meta
                h3= cat
          - var len = (posts.length > 5) ? 5 : posts.length
          - for (var i = 0; i < len; i++)
            - var post = posts[i]
            article.summary
              .wrap
                .thumbnail :D
                .meta 
                  h3: a(href=post.href) #{post.title}
                  .summary= post.summary
                  .action
                    a.more(href=post.href) Read More
                      .icon