extends layout

block header
  h1= file.title

block content
  #index.masthead
    - if (files.blog)
      section#index-articles
        - var len = (files.blog.length > 3) ? 3 : files.blog.length
        - for (var i = 0; i < len; i++)
          - var post = files.blog[i]
          article.summary
            .wrap
              .thumbnail :D
              .meta
                h2: a(href=post.href) #{post.title}
                .summary= post.summary
                .action
                  .more: a(href=post.href) Read More
  #index.banner
    .wrap
      .widget#for-hire
        h2 I am for hire. Services, contact.
  #index.primary
    .wrap
      section#social
        .widget#twitter
          .wrap
            .meta meta
            .recent Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non gravida magna. Ut auctor risus id sem posuere eget ultrices metus.
            .follow: a(href='http://twitter.com/jakeluer') Follow on Twitter
              .icon @jakeluer
        .widget#github
          .wrap
            .meta
            .recent
            .follow: a(href='http://twitter.com/jakeluer') Follow on Github
              .icon @logicalparadox
      - if (files.blog)
        section#recent-articles
          - var len = (files.blog.length > 6) ? 6 : files.blog.length
          - for (var i = 3; i < len; i++)
            - var post = files.blog[i]
            article.summary
              .thumbnail :D
              .meta
                h3: a(href=post.href) #{post.title}
                .summary= post.summary
                .action
                  a.more(href=post.href) Read More
                    .icon
      section#actions
        .more: a(href='/blog/') View the Blog Archive
  #index.sidebar
    .wrap
      .widget#products
        section.product.view-all
          .wrap
            .meta
              h2.title Recent Projects
            .action
              a.more(href='/code/') View All Projects
                .icon
        - var len = (files.code.length > 3) ? 3 : files.code.length
        - for (var i = 0; i < len; i++)
          - var repo = files.code[i]
          section.product
            .wrap
              .meta
                h3.title
                  a(href=repo.href)= repo.title
                  .version= repo.version
                .summary= repo.summary
        
